{% extends 'faculty/sidebar.html' %}
{% load static %}
{% load faculty_extras %}
{% block addcss %}
    <link rel="stylesheet" href={% static 'faculty/css/add_training.css' %}>
{% endblock %}
{% block content %}
    <div class="training">
        <form class="loginform" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="formhead">Add School Information</h2>
            <h5 class="error">{{ form.non_field_errors|errorOnly }} </h5>
            <label class="label" for="school_code">School Code</label>
            <h5 class="error">{{ form.school_code.errors|errorOnly  }}</h5>
            <input required id="school_code" class="inp" type="text" name="school_code" placeholder="Enter the school code" value={{form.cleaned_data.school_code}}>
            
            <label class="label" for="school_name">School Name</label>
            <h5 class="error">{{ form.school_name.errors|errorOnly  }}</h5>
            <input type="text" required id="school_name" class="inp" name="school_name" placeholder="Enter the school name" value={{form.cleaned_data.school_name}}>
            
            <input type="submit" value="Add School" class="form-submit">
        
        </form> 
    </div>
{% endblock %}