{% extends 'faculty/sidebar.html' %}
{% load static %}
{% load faculty_extras %}
{% block addcss %}
    <link rel="stylesheet" href={% static 'faculty/css/add_training.css' %}>
{% endblock %}
{% block content %}
    <div class="training">
        <form class="loginform" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="formhead">Add Training Information</h2>
            <h5 class="error">{{ form.non_field_errors|errorOnly }} </h5>
            <label class="label" for="title">Title</label>
            <h5 class="error">{{ form.title.errors|errorOnly  }}</h5>
            <input required id="title" class="inp" type="text" name="title" placeholder="Enter the title of the workshop" value={{form.cleaned_data.title}}>
            
            <label class="label" for="description">Description</label>
            <h5 class="error">{{ form.description.errors|errorOnly  }}</h5>
            <input type="text" required id="description" class="inp" name="description" placeholder="The description of the workshop" value={{form.cleaned_data.description}}>
            
            <label for="topic" class="label">Choose a topic:</label>
            <h5 class="error">{{ form.topic.errors|errorOnly  }}</h5>
            <select name="topic" required class="inp" id="topic">
                <option value="">--------</option>
                {% for topic in topic_list %}
                    <option value={{forloop.counter}}>{{topic.title}}</option>
                {% endfor %}
            </select>
            
            <label for="faculty" class="label">Choose the Faculty:</label>
            <h5 class="error">{{ form.faculty.errors|errorOnly  }}</h5>
            <select name="faculty" required class="inp" id="faculty">
                <option value="">--------</option>
                {% for faculty in faculty_list %}
                    <option value={{forloop.counter}}>{{faculty.user}}</option>
                {% endfor %}
            </select>
            
            <label class="label" for="cost">Cost of Training</label>
            <h5 class="error">{{ form.cost.errors|errorOnly  }}</h5>
            <input type="number" required id="cost" class="inp" name="cost" placeholder="The cost of the workshop" value={{form.cleaned_data.cost}}>
            
            <label class="label" for="training_image">Poster for the Training Programme</label>
            <h5 class="error">{{ form.training_image.errors|errorOnly  }}</h5>
            <input accept="image/*" type="file" required id="training_image" class="inp" name="training_image">
            
            <input type="submit" value="Add Training" class="form-submit">
        
        </form> 
    </div>
{% endblock %}